.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
}

.questionCard {
  border: none;
}

.questionLink {
  width: 300px;
  padding-bottom: 10px;
  margin: 0px !important;
}

.questionBody {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.questionBodyAdd {
  align-items: center;
  text-align: center;
  height: 265px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
